@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat:wght@300&family=Press+Start+2P&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(img/bg.jpg);
}

nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://t4.ftcdn.net/jpg/02/48/81/31/360_F_248813143_0Hn6ziX9B8FftE8SNjTdmbVEsplQFf65.jpg);
  background-size: cover;
}

a:hover {
  color: #99d0ff;
}

.columnContent {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

.columnContent h1 {
  text-align: center;
  margin: 20px;
}

.columnContact {
  margin-top: 5%;
  padding-left: 30px;
  text-decoration: double;
  text-align: center;
}

.column1 {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.stylecard img {
  width: 300px;
  height: 300px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  text-align: justify;
  padding-top: 50px;
  opacity: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(https://t4.ftcdn.net/jpg/02/48/81/31/360_F_248813143_0Hn6ziX9B8FftE8SNjTdmbVEsplQFf65.jpg);
  background-size: cover;
  margin-top: 100px;
}

footer li {
  list-style: none;
  margin: 15px;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
}
